.header-block-6 .header-contact div{
padding-right: 10px;
    margin: 0;
        line-height: 0;
}


.header-block-6 {

}
.header-block-6 .logo-alt{
display: none;
}
.header-block-6 .hamburger {
    padding: 10px 0px 30px 35px;
    margin: 0;
    }
    



.header-block-6  ul ul.sub-menu {

}

.header-block-6  ul ul.sub-menu li{
    display: inline-block;
}
.header-block-6  ul ul ul.sub-menu {
    display: table;
    }